.explore-communities {
  margin: 0;
  width: 902px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.explore-communities-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-20xl);
  box-sizing: border-box;
  max-width: 100%;
}
.test-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 5;
}
.desktop-1-inner,
.frame-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 1213px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 52px;
}
.desktop-1-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 488px 29px;
  box-sizing: border-box;
}
.cc-efa206e71-1-icon {
  position: absolute;
  top: 613.3px;
  left: 177.2px;
  width: 70.6px;
  height: 71.2px;
  object-fit: contain;
}
.cc-efa206e71-2-icon,
.star-vector-16852698-removebg-icon {
  position: absolute;
  top: 354.2px;
  left: 0;
  width: 84.1px;
  height: 84.5px;
  object-fit: contain;
}
.star-vector-16852698-removebg-icon {
  top: 0;
  left: 641.5px;
  width: 137.6px;
  height: 132.5px;
}
.star-vector-16852698-removebg-icon1,
.test-icon1 {
  position: absolute;
  top: 38.8px;
  left: 372.8px;
  width: 56.5px;
  height: 53.4px;
  object-fit: contain;
}
.test-icon1 {
  top: 75.8px;
  left: 63.8px;
  width: 752px;
  height: 606px;
  object-fit: cover;
  z-index: 1;
}
.cc-efa206e71-1-parent {
  height: 684.5px;
  width: 815.8px;
  position: relative;
  max-width: 100%;
}
.desktop-1-child {
  width: 976px;
  height: 838px;
  margin: 0 !important;
  position: absolute;
  top: 832px;
  right: -11px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 70.2px var(--padding-xl) 70px var(--padding-15xl);
  box-sizing: border-box;
  max-width: 100%;
}
.roadmap {
  width: 660px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.roadmap-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 24px;
  box-sizing: border-box;
  max-width: 100%;
}
.data-processor,
.desktop-1,
.tree-structure {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.desktop-1 {
  flex: 1;
  background: linear-gradient(180deg, #28252a 27.5%, #715aff 98.5%);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
  position: relative;
  gap: 125px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.data-processor,
.tree-structure {
  flex-direction: row;
}
.tree-structure {
  flex: 1;
  background-color: var(--color-white);
  overflow: hidden;
  max-width: 100%;
}
.data-processor {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .desktop-1-inner {
    padding-bottom: 317px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .explore-communities {
    font-size: var(--font-size-29xl);
  }
  .frame-parent {
    gap: var(--gap-7xl);
  }
  .desktop-1-inner {
    padding-bottom: 206px;
    box-sizing: border-box;
  }
  .roadmap {
    font-size: var(--font-size-29xl);
  }
  .desktop-1 {
    gap: 62px;
  }
}
@media screen and (max-width: 450px) {
  .explore-communities,
  .roadmap {
    font-size: var(--font-size-10xl);
  }
  .desktop-1 {
    gap: 31px;
  }
}
