.icons8-checkmark-24-1,
.icons8-checkmark-24-11,
.icons8-checkmark-24-2 {
  width: 28px;
  height: 23px;
  position: relative;
  object-fit: cover;
  z-index: 5;
}
.icons8-checkmark-24-11,
.icons8-checkmark-24-2 {
  z-index: 2;
}
.frame-wrapper7,
.icons8-checkmark-24-1-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icons8-checkmark-24-1-parent {
  gap: var(--gap-15xl);
}
.frame-wrapper7 {
  padding: var(--padding-2xs) 0 0;
}
.friends-social,
.swaps1 {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.communities1 {
  margin: 0;
}
.swaps-friends-container {
  margin: 0;
  height: 154px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 229px;
  max-width: 100%;
  z-index: 5;
}
.frame-parent8 {
  width: 392px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-rounded);
}
@media screen and (max-width: 800px) {
  .swaps-friends-container {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .swaps-friends-container {
    font-size: var(--font-size-lgi);
  }
  .frame-parent8 {
    flex-wrap: wrap;
  }
}
