.milkinfo,
.milkparty-is-a {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  z-index: 1;
}
.milkinfo {
  align-self: stretch;
  font-weight: 600;
}
.milkparty-is-a {
  flex: 1;
  line-height: 119.24%;
  font-weight: 400;
  display: inline-block;
  max-width: 100%;
}
.security-tab-label,
.terms-tab-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.terms-tab-label {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.security-tab-label {
  width: 385px;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.milk {
  color: var(--color-cornflowerblue-100);
}
.got-milk {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.docs-tab-label {
  width: 379px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.milk1,
.milk2 {
  color: var(--color-cornflowerblue-100);
}
.the-milk-token-container {
  margin: 0;
  width: 377px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 377px;
  max-width: 100%;
  z-index: 1;
}
.test-icon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.milk-token-presale,
.procedures {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.milk-token-presale {
  height: 411px;
  width: 431px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-33xl) 0 0;
  box-sizing: border-box;
  min-width: 431px;
}
.procedures {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.support-tab-label {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.graphs,
.support-tab-label,
.twitter-logo {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.twitter-logo {
  width: 1141px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-36xl);
}
.graphs {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-329xl) var(--padding-62xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-lemonchiffon);
  font-family: var(--font-sf-pro-display);
}
@media screen and (max-width: 1325px) {
  .graphs {
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .the-milk-token-container {
    flex: 1;
  }
  .test-icon2 {
    align-self: stretch;
    width: auto;
  }
  .milk-token-presale {
    flex: 1;
  }
  .procedures {
    flex-wrap: wrap;
  }
  .graphs {
    padding-bottom: var(--padding-207xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .got-milk,
  .milkinfo {
    font-size: var(--font-size-10xl);
  }
  .milk-token-presale,
  .the-milk-token-container {
    min-width: 100%;
  }
  .twitter-logo {
    gap: var(--gap-8xl);
  }
  .graphs {
    padding-bottom: var(--padding-128xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .milkinfo {
    font-size: var(--font-size-3xl);
  }
  .milkparty-is-a {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .got-milk {
    font-size: var(--font-size-3xl);
  }
  .the-milk-token-container {
    font-size: var(--font-size-lgi);
  }
  .milk-token-presale {
    padding-top: var(--padding-15xl);
    box-sizing: border-box;
  }
}
