.frame-child,
.frame-item {
  position: absolute;
  box-sizing: border-box;
}
.frame-child {
  top: -1px;
  left: -1px;
  backdrop-filter: blur(40px);
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  width: 100%;
  height: 100%;
}
.frame-item {
  top: 34px;
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-400);
  width: 65px;
  height: 29px;
}
.blank-line,
.swap1 {
  margin: 0;
}
.swap1 {
  white-space: pre-wrap;
}
.swap {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 38px;
  height: 38px;
}
.blank-line1,
.limit1 {
  margin: 0;
}
.limit1 {
  white-space: pre-wrap;
}
.limit {
  position: absolute;
  top: 0;
  left: 82px;
}
.blank-line2,
.dca1 {
  margin: 0;
}
.dca1 {
  white-space: pre-wrap;
}
.buy,
.dca,
.send {
  position: absolute;
  top: 0;
  left: 171px;
}
.buy,
.send {
  top: 19px;
  left: 259px;
  display: inline-block;
  min-width: 35px;
}
.buy {
  left: 350px;
  min-width: 26px;
}
.explore-communities-label {
  position: absolute;
  top: 20px;
  left: 122px;
  width: 376px;
  height: 38px;
}
.frame-child1,
.frame-child2,
.frame-inner {
  position: absolute;
  border-radius: var(--br-6xl);
  width: 307px;
}
.frame-inner {
  top: 94px;
  left: 154px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  height: 103px;
}
.frame-child1,
.frame-child2 {
  left: 155px;
}
.frame-child1 {
  top: 203px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  height: 103px;
}
.frame-child2 {
  top: 325px;
  background-color: var(--color-mediumslateblue-200);
  height: 48px;
}
.connect-wallet {
  position: absolute;
  top: 339px;
  left: 254px;
  font-weight: 600;
  color: var(--color-thistle);
  display: inline-block;
  min-width: 108px;
}
.frame-child3 {
  position: absolute;
  top: 188px;
  left: 293px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 31px;
  height: 31px;
}
.icons8-down-arrow-50-1 {
  position: absolute;
  top: 197px;
  left: 301px;
  width: 15px;
  height: 14px;
  object-fit: contain;
}
.you-receive {
  position: absolute;
  top: 219px;
  left: 178px;
  font-size: var(--font-size-2xs);
  display: inline-block;
  min-width: 53px;
}
.frame-child4,
.frame-child5,
.frame-child6 {
  position: absolute;
  top: 129px;
  left: 369px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 75px;
  height: 29px;
}
.frame-child5,
.frame-child6 {
  top: 236px;
  left: 336px;
  width: 108px;
}
.select-token,
.sol {
  position: absolute;
  top: 242px;
  left: 349px;
  font-size: var(--font-size-smi);
  display: inline-block;
  min-width: 70px;
}
.sol {
  top: 135px;
  left: 394px;
  min-width: 25px;
}
.solana-logo-2-1-icon {
  position: absolute;
  top: 136px;
  left: 376px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.icons8-down-arrow-50-2-1,
.icons8-down-arrow-50-2-2 {
  position: absolute;
  top: 140px;
  left: 423px;
  width: 11px;
  height: 8px;
  object-fit: contain;
}
.icons8-down-arrow-50-2-2 {
  top: 247px;
}
.div,
.div1,
.you-pay {
  position: absolute;
  top: 132px;
  left: 195px;
  font-size: var(--font-size-xl);
  display: inline-block;
  min-width: 9px;
}
.div1,
.you-pay {
  top: 241px;
  min-width: 13px;
}
.you-pay {
  top: 111px;
  left: 178px;
  font-size: var(--font-size-2xs);
  min-width: 37px;
}
.rectangle-parent {
  position: absolute;
  top: -94px;
  left: -154px;
  width: 616px;
  height: 452px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-sf-pro-rounded);
}
@media screen and (max-width: 450px) {
  .div,
  .div1 {
    font-size: var(--font-size-base);
  }
}
