.milk,
.milk1 {
  color: var(--color-cornflowerblue-100);
}
.the-milk-token-container {
  margin: 0;
  position: absolute;
  top: 56px;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 377px;
}
.milk2 {
  color: var(--color-cornflowerblue-100);
}
.got-milk {
  margin: 0;
  position: absolute;
  top: 0;
  left: 1px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 377px;
  color: var(--color-lemonchiffon);
}
.the-milk-token-is-the-heartbe-parent {
  position: absolute;
  top: 309px;
  left: 0;
  width: 378px;
  height: 317px;
}
.milkinfo,
.milkparty-is-a {
  margin: 0;
  position: absolute;
  font-family: inherit;
  display: inline-block;
  width: 384px;
}
.milkinfo {
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 600;
  height: 43px;
}
.milkparty-is-a {
  top: 54px;
  left: 1px;
  font-size: var(--font-size-5xl);
  line-height: 119.24%;
  font-weight: 400;
  color: var(--color-white);
  height: 200px;
}
.milkinfo-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 385px;
  height: 257px;
  font-size: var(--font-size-17xl);
  color: var(--color-lemonchiffon);
}
.test-icon1,
.test-icon2 {
  position: absolute;
  top: 6px;
  left: 446px;
  width: 752px;
  height: 606px;
  object-fit: contain;
}
.test-icon2 {
  top: 417px;
  left: 710px;
  width: 431px;
  height: 359px;
}
.frame-parent {
  position: absolute;
  top: 972px;
  left: 180px;
  width: 1198px;
  height: 776px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
@media screen and (max-width: 767px) {
  .got-milk,
  .milkinfo {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 450px) {
  .the-milk-token-container {
    font-size: var(--font-size-lgi);
  }
  .got-milk,
  .milkinfo {
    font-size: var(--font-size-3xl);
  }
  .milkparty-is-a {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
}
