.i1 {
  color: var(--color-lightpink);
}
.l1 {
  color: var(--color-thistle);
}
.k1 {
  color: var(--color-cornflowerblue-100);
}
.milkparty1 {
  margin: 0;
  height: 115px;
  width: 450px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.milkparty-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-33xl);
  box-sizing: border-box;
  max-width: 100%;
}
.dex-friends {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.frame-child2 {
  height: 40px;
  width: 94px;
  position: relative;
  border-radius: var(--br-50xl);
  background-color: var(--color-mediumslateblue-200);
  display: none;
}
.icons8-arrow-50-1,
.icons8-arrow-50-2-1 {
  height: 18px;
  width: 23px;
  position: relative;
  object-fit: contain;
  min-height: 18px;
  z-index: 1;
}
.rectangle-parent2 {
  align-self: stretch;
  border-radius: var(--br-50xl);
  background-color: var(--color-mediumslateblue-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-7xs) var(--padding-2xs)
    var(--padding-5xs);
  gap: var(--gap-xl);
}
.frame-wrapper5 {
  width: 94px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.dex-friends-parent,
.frame-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.dex-friends-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper4 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-7xl) 0 0;
  box-sizing: border-box;
}
.blank-line3,
.blank-line4,
.blank-line5,
.blank-line6,
.blank-line7,
.explore-defi-with,
.friends-and-some,
.in-the-market,
.perform-including,
.snipe-and-copytrades,
.swap-100s-of,
.the-biggest-influencers,
.with-tools-built {
  margin: 0;
}
.swap-100s-of-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.cc-efa206e71-3-icon,
.cc-efa206e71-4-icon {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
  z-index: 2;
}
.cc-efa206e71-3-icon {
  width: 83.7px;
  height: 79px;
  bottom: 139.1px;
  left: 24px;
}
.cc-efa206e71-4-icon {
  width: 95.7px;
  height: 97.3px;
  top: 126.8px;
  right: 8.3px;
}
.frame-wrapper6,
.swap-100s-of-tokens-with-tools-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.swap-100s-of-tokens-with-tools-parent {
  position: relative;
}
.frame-wrapper6 {
  padding: var(--padding-39xl) 0 0;
}
.best-social-platform,
.blank-line10,
.blank-line11,
.blank-line8,
.blank-line9,
.crypto,
.milkparty-offers-the {
  margin: 0;
}
.earn-rewards-and,
.for-the-airdrops {
  margin: 0;
  color: var(--color-indigo);
}
.blank-line12,
.blank-line13,
.yes-tell-your {
  margin: 0;
}
.milkparty-offers-the-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
}
.milkparty-offers-the-best-soci-wrapper {
  width: 282px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  color: var(--color-white);
}
.ape-in-with,
.communities {
  margin: 0;
}
.free-and-paid {
  margin: 0;
  white-space: pre-wrap;
}
.ape-in-with-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.span {
  color: var(--color-black);
  white-space: pre-wrap;
}
.chats-and-spread,
.enjoy-group {
  margin: 0;
}
.enjoy-group-chats-container {
  margin: 0;
  width: 283px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.enjoy-group-chats-and-spread-t-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  color: var(--color-white);
}
.ape-in-with-endless-communitie-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.frame-parent7,
.frame-wrapper7 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper7 {
  width: 348px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
  color: var(--color-maroon);
}
.frame-parent7 {
  width: 1251px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
}
.frame-parent5,
.frame-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent6 {
  align-items: flex-end;
  gap: var(--gap-121xl);
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.frame-parent5 {
  align-items: flex-start;
  gap: var(--gap-87xl);
}
.explore-communities {
  margin: 0;
  width: 902px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.explore-communities-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-20xl);
  box-sizing: border-box;
  max-width: 100%;
}
.test-icon2 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 5;
}
.frame-parent8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-125xl);
  max-width: 100%;
}
.frame-wrapper8 {
  width: 1277px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
.desktop-1-inner,
.frame-parent4,
.frame-wrapper8 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-437xl);
}
.desktop-1-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-47xl) var(--padding-436xl) var(--padding-51xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-lightgoldenrodyellow);
  font-family: var(--font-sf-pro-rounded);
}
@media screen and (max-width: 1350px) {
  .frame-parent6 {
    gap: var(--gap-51xl);
  }
  .frame-parent8 {
    gap: var(--gap-53xl);
  }
  .frame-parent4 {
    gap: var(--gap-209xl);
  }
  .desktop-1-inner {
    padding-bottom: var(--padding-173xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .frame-parent7 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .milkparty1 {
    font-size: var(--font-size-29xl);
  }
  .milkparty-wrapper {
    padding-left: var(--padding-7xl);
    box-sizing: border-box;
  }
  .dex-friends {
    font-size: var(--font-size-19xl);
  }
  .dex-friends-parent {
    flex-wrap: wrap;
  }
  .frame-parent6 {
    gap: var(--gap-16xl);
  }
  .frame-parent5 {
    gap: var(--gap-34xl);
  }
  .explore-communities {
    font-size: var(--font-size-29xl);
  }
  .frame-parent8 {
    gap: var(--gap-17xl);
  }
  .frame-parent4 {
    gap: var(--gap-95xl);
  }
  .desktop-1-inner {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-14xl);
    padding-bottom: var(--padding-106xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .dex-friends,
  .milkparty1 {
    font-size: var(--font-size-10xl);
  }
  .swap-100s-of-container {
    font-size: var(--font-size-lgi);
  }
  .frame-wrapper6 {
    padding-top: var(--padding-19xl);
    box-sizing: border-box;
  }
  .ape-in-with-container,
  .enjoy-group-chats-container,
  .milkparty-offers-the-container {
    font-size: var(--font-size-lgi);
  }
  .ape-in-with-endless-communitie-parent {
    gap: var(--gap-lg);
  }
  .frame-parent6 {
    gap: var(--gap-mid);
  }
  .frame-parent5 {
    gap: var(--gap-7xl);
  }
  .explore-communities {
    font-size: var(--font-size-10xl);
  }
  .frame-parent8 {
    gap: var(--gap-lg);
  }
  .frame-parent4 {
    gap: var(--gap-38xl);
  }
}
