.wave-2-1-icon,
.wave-icon-child {
  position: absolute;
  left: 0;
  width: 1440px;
}
.wave-icon-child {
  top: 214px;
  background-color: var(--color-mediumslateblue-200);
  height: 2449px;
}
.wave-2-1-icon {
  top: 0;
  height: 227px;
  overflow: hidden;
}
.wave-icon-item {
  position: absolute;
  top: 2023px;
  left: 134px;
  backdrop-filter: blur(70px);
  border-radius: var(--br-17xl);
  background-color: var(--color-darkslategray-200);
  width: 1173px;
  height: 503px;
}
.about,
.careers,
.discord,
.privacy,
.reddit,
.status,
.terms,
.twitter {
  position: absolute;
  top: 2419px;
  left: 1050px;
  font-weight: 300;
  display: inline-block;
  min-width: 32px;
}
.about,
.careers,
.discord,
.privacy,
.status,
.terms,
.twitter {
  left: 854px;
  min-width: 39px;
}
.about,
.discord,
.privacy,
.status,
.terms,
.twitter {
  top: 2394px;
  min-width: 32px;
}
.about,
.discord,
.privacy,
.terms,
.twitter {
  top: 2369px;
  min-width: 36px;
}
.about,
.discord,
.terms,
.twitter {
  top: 2344px;
  min-width: 30px;
}
.about,
.discord,
.twitter {
  top: 2319px;
}
.discord,
.twitter {
  left: 1050px;
  min-width: 33px;
}
.discord {
  top: 2344px;
  min-width: 38px;
}
.docs,
.explore,
.feature-requests,
.instagram,
.learn,
.newsletter,
.telegram {
  position: absolute;
  top: 2369px;
  left: 1050px;
  font-weight: 300;
  display: inline-block;
  min-width: 46px;
}
.docs,
.explore,
.feature-requests,
.instagram,
.learn,
.newsletter {
  top: 2394px;
  min-width: 49px;
}
.docs,
.explore,
.feature-requests,
.learn,
.newsletter {
  left: 650px;
  min-width: 26px;
}
.explore,
.feature-requests,
.learn,
.newsletter {
  top: 2369px;
  min-width: 53px;
}
.explore,
.feature-requests,
.learn {
  top: 2319px;
  min-width: 37px;
}
.feature-requests,
.learn {
  top: 2344px;
  min-width: 28px;
}
.feature-requests {
  top: 2394px;
  left: 470px;
  min-width: 86px;
}
.company,
.download,
.product,
.resources,
.security,
.socials,
.support {
  position: absolute;
  top: 2369px;
  left: 470px;
  font-weight: 300;
  display: inline-block;
  min-width: 40px;
}
.company,
.download,
.product,
.resources,
.security,
.socials {
  top: 2344px;
  min-width: 41px;
}
.company,
.download,
.product,
.resources,
.socials {
  top: 2319px;
  min-width: 50px;
}
.company,
.product,
.resources,
.socials {
  top: 2284px;
  left: 1050px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  min-width: 47px;
}
.company,
.product,
.resources {
  left: 854px;
  min-width: 62px;
}
.product,
.resources {
  left: 650px;
  min-width: 68px;
}
.product {
  left: 470px;
  min-width: 51px;
}
.i3 {
  color: var(--color-lightpink);
}
.l3 {
  color: var(--color-thistle);
}
.k3 {
  color: var(--color-cornflowerblue-100);
}
.milkparty3 {
  margin: 0;
  position: absolute;
  top: 2057px;
  left: 188px;
  font-size: var(--font-size-21xl);
  font-weight: 700;
  font-family: var(--font-sf-pro-rounded);
  color: var(--color-lightgoldenrodyellow);
}
.rectangle-div,
.wave-icon-inner {
  position: absolute;
  top: 331px;
  left: 134px;
  border-radius: var(--br-26xl);
  background-color: var(--color-darkslategray-100);
  width: 542px;
  height: 358px;
}
.rectangle-div {
  left: 765px;
}
.icons8-checkmark-24-3 {
  position: absolute;
  top: 440px;
  left: 842px;
  width: 28px;
  height: 23px;
  object-fit: contain;
}
.current-defi-dex {
  margin: 0;
  position: absolute;
  top: 362px;
  left: 919px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  font-family: inherit;
}
.signup-button {
  position: absolute;
  top: 2057px;
  left: 470px;
  border-radius: var(--br-6xl);
  background-color: var(--color-cornflowerblue-200);
  width: 729px;
  height: 187px;
}
.enter-you-email,
.sign-up-for {
  position: absolute;
  left: 500px;
  font-weight: 500;
}
.enter-you-email {
  margin: 0;
  top: 2068px;
  font-size: var(--font-size-45xl);
  font-family: inherit;
  color: var(--color-gray-900);
}
.sign-up-for {
  top: 2201px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.wave-icon-child1 {
  position: absolute;
  top: 2155px;
  left: 989px;
  border-radius: var(--br-41xl);
  background-color: var(--color-darkslategray-100);
  width: 176px;
  height: 64px;
}
.sign-up {
  position: absolute;
  top: 2175px;
  left: 1044px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  min-width: 69px;
  white-space: nowrap;
}
.roadmap {
  position: absolute;
  top: 851px;
  left: 392px;
  font-size: var(--font-size-77xl);
  font-weight: 600;
  font-family: var(--font-sf-pro-rounded);
}
.desktop-apps-for,
.first-community-airdrop,
.get-listed-on,
.integrate-launchpad-for,
.launch-marketing-campaign,
.launch-on-milkparty,
.milk-token-presale,
.milkparty-nft-collection,
.optimize-social-platform,
.start-platform-rewards,
.wallet-chrome-extension {
  margin-bottom: 12px;
}
.launch-marketing-campaign-milk {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-34xl);
}
.launch-marketing-campaign-container {
  margin: 0;
  position: absolute;
  top: 1091px;
  left: 389px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  font-family: var(--font-sf-pro-rounded);
}
.friends-social1,
.swaps2 {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.communities1 {
  margin: 0;
}
.swaps-friends-container1 {
  margin: 0;
  position: absolute;
  top: 433px;
  left: 884px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  font-family: var(--font-sf-pro-rounded);
}
.icons8-checkmark-24-11,
.icons8-checkmark-24-2,
.icons8-x-30-1,
.icons8-x-30-2 {
  position: absolute;
  top: 504px;
  left: 194px;
  width: 28px;
  height: 23px;
  object-fit: contain;
}
.icons8-checkmark-24-11,
.icons8-x-30-1,
.icons8-x-30-2 {
  top: 563px;
}
.icons8-x-30-1,
.icons8-x-30-2 {
  top: 499px;
  left: 842px;
  height: 22px;
}
.icons8-x-30-2 {
  top: 557px;
}
.wave-icon {
  position: absolute;
  top: 5020px;
  left: 0;
  width: 100%;
  height: 2663px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
@media screen and (max-width: 767px) {
  .milkparty3 {
    font-size: var(--font-size-13xl);
  }
  .current-defi-dex {
    font-size: var(--font-size-7xl);
  }
  .enter-you-email {
    font-size: var(--font-size-32xl);
  }
  .roadmap {
    font-size: var(--font-size-29xl);
  }
  .launch-marketing-campaign-container {
    font-size: var(--font-size-13xl);
  }
  .swaps-friends-container1 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .milkparty3 {
    font-size: var(--font-size-5xl);
  }
  .current-defi-dex {
    font-size: var(--font-size-lgi);
  }
  .enter-you-email {
    font-size: var(--font-size-19xl);
  }
  .sign-up {
    font-size: var(--font-size-base);
  }
  .roadmap {
    font-size: var(--font-size-10xl);
  }
  .launch-marketing-campaign-container {
    font-size: var(--font-size-5xl);
  }
  .swaps-friends-container1 {
    font-size: var(--font-size-lgi);
  }
}
