@font-face {
  font-family: "SF Pro Rounded";
  src: url("/public/SF-Pro-Rounded-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("/public/SF-Pro-Rounded-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("/public/SF-Pro-Rounded-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("/public/SF-Pro-Rounded-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("/public/SF-Pro-Rounded-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SF-Pro-Rounded-Ultralight.otf");
  font-weight: 300;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SFPRODISPLAYREGULAR.OTF");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SFPRODISPLAYBOLD.OTF");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SFPRODISPLAYMEDIUM.OTF");
  font-weight: 600;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-sf-pro-rounded: "SF Pro Rounded";
  --font-sf-pro-display: "SF Pro Display";

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-77xl: 96px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-2xs: 11px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-smi: 13px;
  --font-size-mini: 15px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-lightgoldenrodyellow: #feffd7;
  --color-cornflowerblue-100: #9ab6ff;
  --color-cornflowerblue-200: rgba(183, 172, 255, 0.6);
  --color-thistle: #dccbff;
  --color-lightpink: #ffbaba;
  --color-darkslategray-100: #3f3546;
  --color-darkslategray-200: rgba(58, 49, 49, 0.9);
  --color-lemonchiffon: #feffd0;
  --color-indigo: rgba(77, 0, 131, 0.8);
  --color-midnightblue: rgba(48, 1, 81, 0.8);
  --color-maroon: #7e0000;
  --color-black: #000;
  --color-gray-100: #2a2929;
  --color-gray-200: #1f1e1e;
  --color-gray-300: rgba(31, 30, 30, 0.7);
  --color-gray-900: rgba(255, 255, 255, 0.63);
  --color-gray-700: rgba(0, 0, 0, 0.2);
  --color-gray-800: rgba(0, 0, 0, 0.1);
  --color-gray-400: rgba(0, 0, 0, 0.22);
  --color-gray-500: rgba(0, 0, 0, 0.15);
  --color-gray-600: rgba(255, 255, 255, 0.1);
  --color-mediumslateblue-200: #715aff;

  /* Paddings */
  --padding-34xl: 53px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-41xl: 60px;
  --br-6xl: 25px;
  --br-xl: 20px;
  --br-21xl: 40px;
  --br-26xl: 45px;
  --br-17xl: 36px;
}
