@font-face {
  font-family: "SF Pro Rounded";
  src: url("/public/SF-Pro-Rounded-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("/public/SF-Pro-Rounded-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("/public/SF-Pro-Rounded-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("/public/SF-Pro-Rounded-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Rounded";
  src: url("/public/SF-Pro-Rounded-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SF-Pro-Rounded-Ultralight.otf");
  font-weight: 300;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SFPRODISPLAYREGULAR.OTF");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SFPRODISPLAYBOLD.OTF");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/public/SFPRODISPLAYMEDIUM.OTF");
  font-weight: 600;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-sf-pro-display: "SF Pro Display";
  --font-sf-pro-rounded: "SF Pro Rounded";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-77xl: 96px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-base: 16px;
  --font-size-smi: 13px;
  --font-size-2xs: 11px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #3f3546;
  --color-darkslategray-200: rgba(58, 49, 49, 0.9);
  --color-mediumslateblue-100: #8c73ff;
  --color-mediumslateblue-200: #715aff;
  --color-cornflowerblue-100: #9ab6ff;
  --color-cornflowerblue-200: rgba(183, 172, 255, 0.6);
  --color-dimgray: #665c6e;
  --color-black: #000;
  --color-gray-100: #2a2929;
  --color-gray-200: #1f1e1e;
  --color-gray-300: rgba(31, 30, 30, 0.7);
  --color-gray-400: rgba(0, 0, 0, 0.22);
  --color-gray-500: rgba(0, 0, 0, 0.15);
  --color-gray-600: rgba(255, 255, 255, 0.1);
  --color-gray-700: rgba(0, 0, 0, 0.2);
  --color-gray-800: rgba(0, 0, 0, 0.1);
  --color-gray-900: rgba(255, 255, 255, 0.63);
  --color-lightgoldenrodyellow: #feffd7;
  --color-thistle: #dccbff;
  --color-lightpink: #ffbaba;
  --color-maroon: #7e0000;
  --color-indigo: rgba(77, 0, 131, 0.8);
  --color-midnightblue: rgba(48, 1, 81, 0.8);
  --color-lemonchiffon: #feffd0;

  /* Gaps */
  --gap-2xs: 11px;
  --gap-143xl: 162px;
  --gap-62xl: 81px;
  --gap-21xl: 40px;
  --gap-59xl: 78px;
  --gap-lgi: 19px;
  --gap-20xl: 39px;
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-106xl: 125px;
  --gap-43xl: 62px;
  --gap-12xl: 31px;
  --gap-14xl: 33px;
  --gap-sm: 14px;
  --gap-17xl: 36px;
  --gap-xs: 12px;
  --gap-15xl: 34px;
  --gap-125xl: 144px;
  --gap-53xl: 72px;
  --gap-38xl: 57px;
  --gap-9xl: 28px;
  --gap-87xl: 106px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-121xl: 140px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-51xl: 70px;
  --gap-3xs: 10px;
  --gap-68xl: 87px;
  --gap-24xl: 43px;
  --gap-3xl: 22px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-smi: 13px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;
  --gap-9xs: 4px;
  --gap-4xs: 9px;
  --gap-10xs: 3px;
  --gap-208xl: 227px;
  --gap-94xl: 113px;

  /* Paddings */
  --padding-98xl: 117px;
  --padding-114xl: 133px;
  --padding-118xl: 137px;
  --padding-47xl: 66px;
  --padding-19xl: 38px;
  --padding-xl: 20px;
  --padding-39xl: 58px;
  --padding-15xl: 34px;
  --padding-35xl: 54px;
  --padding-74xl: 93px;
  --padding-41xl: 60px;
  --padding-8xl: 27px;
  --padding-2xs: 11px;
  --padding-11xl: 30px;
  --padding-6xl: 25px;
  --padding-33xl: 52px;
  --padding-36xl: 55px;
  --padding-27xl: 46px;
  --padding-49xl: 68px;
  --padding-10xl: 29px;
  --padding-25xl: 44px;
  --padding-34xl: 53px;
  --padding-10xs: 3px;
  --padding-12xl: 31px;
  --padding-52xl: 71px;
  --padding-83xl: 102px;
  --padding-58xl: 77px;
  --padding-16xl: 35px;
  --padding-6xs: 7px;
  --padding-64xl: 83px;
  --padding-mid: 17px;
  --padding-78xl: 97px;
  --padding-44xl: 63px;
  --padding-50xl: 69px;
  --padding-236xl: 255px;
  --padding-51xl: 70px;
  --padding-89xl: 108px;
  --padding-13xl: 32px;
  --padding-280xl: 299px;
  --padding-107xl: 126px;
  --padding-175xl: 194px;
  --padding-lgi: 19px;
  --padding-4xl: 23px;
  --padding-4xs: 9px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-32xl: 51px;
  --padding-3xl: 22px;
  --padding-12xs: 1px;
  --padding-51xl-2: 70.2px;
  --padding-sm: 14px;
  --padding-150xl: 169px;
  --padding-91xl: 110px;
  --padding-99xl: 118px;
  --padding-60xl: 79px;
  --padding-88xl: 107px;
  --padding-40xl: 59px;
  --padding-17xl: 36px;
  --padding-mini: 15px;
  --padding-20xl: 39px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-xs: 12px;
  --padding-lg: 18px;
  --padding-18xl: 37px;
  --padding-11xs: 2px;

  /* Border radiuses */
  --br-6xl: 25px;
  --br-41xl: 60px;
  --br-17xl: 36px;
  --br-26xl: 45px;
  --br-50xl: 69px;
  --br-21xl: 40px;
  --br-31xl: 50px;
  --br-xl: 20px;
}
